.authman-google.resource-owner {
  position: relative;
  display: flex;
  border: 3px solid #1a73e8;
  padding: 1em;
  align-items: center;
  text-decoration: none;
  color: #000;
  background: #fff;
  line-height: 1.75em;
}

.authman-google.resource-owner::before {
  position: absolute;
  bottom: 0.33em;
  right: 0.33em;
  content: 'Google';
  color: #ddd;
  font-size: 3em;
}

.authman-google.resource-owner .picture {
  order: 1;
  max-width: 200px;
  min-width: 64px;
  height: auto;
  border-radius: 50%;
  border: 4px solid #eee;
}

.authman-google.resource-owner .information {
  order: 2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1em;
}

.authman-google.resource-owner .name {
  font-size: 1.625em;
  color: #24292e;
  font-weight: 600;
}

.authman-google.resource-owner .email {
  font-size: 1.25em;
  color: #666;
  font-weight: 300;
}
