<div{{ attributes.addClass('authman-google resource-owner') }}>
  <img src="{{ element.avatar_url }}" class="picture" />
  <div class="information">
    <div class="personal">
      {{ 'Owned by'|t }}
      <div class="name">{{ element.name }}</div>
      <div class="email">{{ element.email }}</div>
    </div>
  </div>
</div>
